<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<withJansi>false</withJansi>
		<!-- encoders are assigned the type
			 ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.networknt.schema" level="ERROR"/>
	<logger name="io.javalin" level="ERROR"/>
	<logger name="org.eclipse.jetty" level="ERROR"/>

	<root level="info">
		<appender-ref ref="STDOUT"/>
	</root>

</configuration>
