{
  "types": {
    "EIP712Domain": [
      {
        "name": "name",
        "type": "string"
      },
      {
        "name": "version",
        "type": "string"
      },
      {
        "name": "chainId",
        "type": "uint256"
      }
    ],
    "contributionPubkey": [
      {
        "name": "numG1Powers",
        "type": "uint256"
      },
      {
        "name": "numG2Powers",
        "type": "uint256"
      },
      {
        "name": "potPubkey",
        "type": "bytes"
      }
    ],
    "PoTPubkeys": [
      {
        "name": "potPubkeys",
        "type": "contributionPubkey[]"
      }
    ]
  },
  "primaryType": "PoTPubkeys",
  "domain": {
    "name": "Ethereum KZG Ceremony",
    "version": "1.0",
    "chainId": 1
  },
  "message": {
    "potPubkeys": [
      {{#contribution}}
      {
      "numG1Powers": {{numG1Powers}},
      "numG2Powers": {{numG2Powers}},
      "potPubkey": "{{potPubkey}}"
      }{{#comma}},{{/comma}}
      {{/contribution}}
    ]
  }
}